<h1>Reminder! </h1>
<p>
    Dear {{username}}, you have the following tasks assigned to you 
    that are due in the next 24 hours.
    <br/>
    <br/>
    Task id: {{task_id}}
    <br/>
    Task title: {{task_title}}
    <br/>
    Task description: {{task_des}}
</p>